<%= render partial: "components/socialButtons" %>
<form name="signup">
	<input name="email" placeholder="<%= t('auth.email') %>" type="text" />
	<input name="password" placeholder="<%= t('auth.password') %>" type="password" />
	<input name="password_confirmation" placeholder="<%= t('auth.password_confirmation') %>" type="password" />
	<input name="" type="submit" value="<%= t('auth.register') %>" />
</form>
