<%= render partial: "components/errors" %>
<div class="b-page b-item">
	<h1 class="b-page__title b-page__title_1"><%= @work.title %></h1>
	<div class="b-page__cover b-page__cover_item">
		<div class="b-item__images">
			<%= image_tag @work.image(:medium) %>
		</div>
		<div class="b-item__info">
			<div class="b-item__info__actions g-clearfix">
				<div class="b-item__info__actions__one b-fav-link b-fav-link_do g-left <%= check_fav(@work) %>">
					<%= add_to_favs(@work).html_safe %>
				</div>
				<div class="b-item__info__actions__one g-left">
					<!-- <a href="#" class="b-sub-link b-sub-link_do">Подписаться на автора работы</a> -->
					<!-- <a href="#" class="b-sub-link b-sub-link_done">Вы уже подписаны (<span>отписаться</span>)</a> -->
				</div>
<%#				<div class="b-item__info__actions__one g-left">
					<a href="#" class="b-sub-link b-sub-link_do"><%= delete_work(@work) % ></a>
				</div> %>
			</div>
			<div class="b-item__info__description">
				<%= @work.description %>
			</div>
			<div class="b-item__service g-clearfix">
				<div class="g-left b-item__service__author">
<!-- 					<div class="g-left b-item__service__author__avatar">
						<a href="#"><img src="/images/avatar70x70.png" alt="" /></a>
					</div>
 -->					<div class="g-left b-item__service__author__info">
						<div class="b-item__service__author__info__title">
							<a href="<%= profile_show_path(@work.user.username) %>"><%= @work.user.name %></a>
						</div>
<!-- 						<div class="b-item__service__author__info__spec">
							<a href="<%= profile_show_path(@work.user.username) %>"><%= @work.user.spec %></a>
						</div>
 --><!-- 						<div class="b-item__service__author__info__date">
							сегодня в 12:36
						</div>
 -->					</div>
				</div>
				<div class="g-left b-item__service__author__info__date" style="margin-left: 30px; margin-right: 80px;">
					<%= time_ago_in_words(@work.created_at) %>
				</div>

<!-- 				<div class="g-left b-item__service__tags">
					<a href="#" class="b-tag">web-design</a>
					<a href="#" class="b-tag">ui</a>
					<a href="#" class="b-tag">flat</a>
					<a href="#" class="b-tag">ui</a>
					<a href="#" class="b-tag">flat</a>
					<a href="#" class="b-tag">super</a>
				</div>
 -->			<div class="g-left b-item__service__rating">
					<div class="b-item__service__rating__item b-item__service__rating__item_rate">
						<%= @work.average %> <span>/</span> 5.0
					</div>
				</div>
				<div class="g-left b-item__service__rating">
					<div class="b-item__service__rating__item b-item__service__rating__item_comments">
						<%= link_to "#{@work.comments.count} комментариев", show_work_path(@work.user.username, @work, anchor: "comments") %>
					</div>
				</div>
			</div>
		</div>
		<div class="b-comments" id="comments">
<% if signed_in? %>
			<h2 class="b-comments__title">Комментарии</h2>
			<div class="b-comments__write">
				<%= form_for Comment.new, method: :post do |f| %>
					<label>
						<%= hidden_field_tag :work_id, @work.id %>
						<textarea name="comment[text]" id="comment_text" placeholder="Напишите комментарий для того, чтобы поставить оценку" class="b-comments__write__field b-input_textarea"></textarea>
					</label>
					<div class="b-comments__write__service g-clearfix">
						<div class="g-left b-comments__write__author">
							<%= current_user.name if current_user.present? %>
						</div>
						<% if @work.comments.where(user_id: current_user.id).present? %>
							<input style="display:none" name="comment[rating]" id="comment_rating" disabled value='0'></input>
						<% else %>
						<div class="g-left b-comments__write__rating">
							<span class="b-rating-text">моя оценка:</span>
							<select name="comment[rating]" id="comment_rating" disabled>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
						<% end %>
						<div class="g-right b-comments__write__send">
							<input type="submit" class="b-button b-button_inverted" name="commit" value="Отправить" />
						</div>
					</div>
					<% end %>
				</form>
			</div>
<% else %>
			<h2 class="b-comments__title"><%= link_to 'Войдите', new_user_session_path %> на сайт или <%= link_to 'зарегистрируйтесь', register_path %>, чтобы оставлять комментарии</h2>
<% end %>
			<div class="b-comments-wrapper">
<% if @comments.present? %>
	<% @comments.each do |comment| %>
				<div class="b-comment" id="comment<%= comment.created_at.to_i %><%= comment.work.id %>">
					<div class="b-comment__head g-clearfix">
						<!-- <div class="g-left b-comment__avatar"> -->
							<!-- <a href="#"><img src="/images/avatar30x30.png" alt="" /></a> -->
						<!-- </div> -->
						<div class="g-left b-comment__name-spec">
							<div class="b-comment__name">
								<%= link_to get_user(comment).name, profile_show_path( get_user(comment).username) %>
							</div>
							<div class="b-comment__spec">
								<%= link_to get_user(comment).spec, profile_show_path( get_user(comment).username) %>
							</div>
						</div>
						<div class="g-left b-comment__rating">
							<% unless comment.rating.nil? %>
							<span class="b-rating-text">оценка:</span> <span class="b-icon_star"></span> <%= comment.rating %> / 5
							<% end %>
						</div>
						<div class="g-right b-comment__date">
							<%= time_ago_in_words(comment.created_at.to_time) %>
						</div>
					</div>
					<div class="b-comment__content">
						<%= comment.text.prep.newlines_to_br.html_escape %>
					</div>
				</div>
	<% end %>
<% else %>
			<h2 class="b-comments__title">Комментариев нет... Будьте первым!</h2>

<% end %>
			</div>
			<!-- <div class="b-button b-button_expanded b-news__load-more b-item__load-more">Загрузить ещё</div> -->
		</div>
	</div>
</div>
