<h1>Регистрация</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "Ваше имя" %>
      <%= f.text_field :name %>

      <%= f.label :nikname, "Придумайте унакльный никнейм" %>
      <%= f.text_field :nikname %>

      <%= f.label :email, "Ваш email" %>
      <%= f.text_field :email %>

      <%= f.label :password, "Придумайте пароль (от 6 символов)" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Повторите пароль" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

