
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<ul class="info">
	<li>Имя:       <%= @user.name %></li>
	<li>Email:     <%= @user.email %></li>
	<li>Никнейм:   <%= @user.nikname %></li>
  <li>Биография: <%= @user.description %></li>
  <li>Сайт:      <%= @user.site %></li>
</ul>