<div class="b-page_login">
	<div class="b-auth">
		<div class="b-auth__title b-auth__title_with-link">
			<%= t('coming_soon.developing') %>
		</div>
		<div class="b-auth__welcome-text">
			<%= t('coming_soon.welcome') %>
		</div>
		<div class="b-auth__form">
			<form action="" accept-charset="UTF-8" method="post">
				<input name="utf8" type="hidden" value="&#x2713;" />
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
				<div>
					<input name="user[email]" class="b-input_text b-input_text-login" type="text" placeholder="<%= t('auth.email') %>" />
				</div>
				<div class="g-clearfix b-auth__form-commit">
					<div class="g-right">
						<input name="commit" type="submit" class="b-button b-button_expanded" value="<%= t('coming_soon.subscribe') %>" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
