<%= render partial: "components/head" %>
<body class="z-unloaded">
	<%= render partial: "components/icons" %>
	<div class="z-actions">
		<div class="z-actions__alerts"></div>
		<div class="z-actions__popups"></div>
	</div>
	<section class="b-wrapper">
		<header class="b-controller-name<%= " b-controller_" + controller.controller_name + "-" + controller.action_name %>">
			<div class="b-logo">
				<div>
					<a href="/" class="b-logo__image">
						<svg class="b-logo__image__img">
							<use xlink:href="#icon-bird"></use>
						</svg>
					</a>
				</div>
				<div>
					<a href="/" class="b-logo__text">Criticize My Work</a>
				</div>
				<div class="b-logo__quote">
					<% if Quote.present? %>
						<% Quote.get_random_quote.each do |quote| %>
							«<%= quote_text(quote) %>» <span class="b-logo__quote-normal">&mdash; <%= quote_author(quote) %></span>
						<% end %>
					<% else %>
						<nobr>«Невозможно создать хороший продукт, основываясь на опросах людей или пользуясь фокус-группами. Люди</nobr> <nobr>сами не знают чего они хотят, пока им это не покажешь.» <span class="b-logo__quote-normal">&mdash; Стив Джобс</span></nobr>
					<% end %>
				</div>
			</div>
		</header>
		<main class="b-wrapper__main">
			<div class="b-cover g-clearfix">
				<div class="g-left b-content">
					<%= yield %>
				</div>
				<div class="g-right b-aside">
					<div class="b-fixed-aside" data-hook="panel">
						<%= render partial: "components/aside" %>
					</div>
				</div>
			</div>
		</main>
		<%= render partial: "components/footer" %>
	</section>
	<%= javascript_include_tag 'application' %>
	<script>
		<%= yield :scripts %>
	</script>
</body>
</html>