<%= devise_error_messages! %>
<form action="<%=registration_path(resource_name)%>" accept-charset="UTF-8" method="post">
	<input name="utf8" type="hidden" value="&#x2713;" />
	<input type="hidden" name="_method" value="put" />
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
	<input type="email" value="<%= resource.email %>" name="user[email]"/>
	<input type="password" autocomplete="off" name="user[password]" placeholder="leave blank if you don't want to change it" />
	<input type="password" autocomplete="off" name="user[password_confirmation]" />
	<input type="password" autocomplete="off" name="user[current_password]" placeholder="we need your current password to confirm your changes" />
	<input type="submit" name="commit" value="Сохранить" />
</form>
<form method="post" action="/auth/register/">
	<input type="hidden" name="_method" value="delete" />
	<input type="submit" value="Удалить аккаунт" />
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
</form>